@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Baloo+Bhai+2:wght@400..800&family=Fira+Code:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "AR One Sans";
  /* font-weight: 600; */
}
.container-fluid {
  min-height: 100vh;
  padding: 0px !important;
}
.border-none {
  border: 0px !important;
}
.bg-transparent {
  background-color: transparent;
}
input:focus {
  outline: none !important;
  border: 0xp !important;
}
.icon-size {
  font-size: 20px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  background-color: white;
  box-shadow: 0 0 3px lightgray;
  padding: 25px;
  /* border: 2px solid black; */
  margin: 8px 0px;
}
.catgory-container {
  width: 100%;
}
.scroll {
  overflow-x: scroll;
}

.center {
  justify-content: center;
  align-items: center;
}
.btn,
.form-control {
  /* border: 0px !important ; */
  border-radius: 0px !important;
}
.radius {
  border-radius: 3px !important;
}
.bg {
  background: linear-gradient(rgb(229, 214, 185), #d3d6d6);
}
::-webkit-scrollbar {
  width: 10px;
  /* background-color: red; */
}
/* ::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-track {
  background: green;
} */
